.App {
  text-align: center;
  background-color: #222;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 80%;
}

.title-section, .commission-info {
  margin-bottom: 20px;
}

.commission-info {
  color: #c1a273;
}

.link-text, .link-text:visited {
  color: #c0c0c0; /* Same color for visited links */
}

.image-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* This adds space between the images */
  max-width: 100%; /* This ensures the grid doesn't exceed the width of its container */
}

@media (max-width: 768px) { /* For smaller devices */
  .image-section {
    grid-template-columns: repeat(2, 1fr); /* 2 images per row on smaller screens */
  }
}

@media (max-width: 480px) { /* For mobile devices */
  .image-section {
    grid-template-columns: 1fr; /* 1 image per row on very small screens */
  }
}

.sample-image {
  width: 100%; /* Image will fill the cell created by the grid */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Image will not exceed its own resolution */
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 10px 0; /* Additional margin if needed */
}

.twitch-logo {
  width: 50px; /* Adjusted width to better fit the horizontal logo */
  position: relative;
  top: 3px;
}
