.App {
  text-align: center;
  background-color: #222;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 80%;
}

.title-section, .commission-info {
  margin-bottom: 20px;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* This creates a three-column grid */
  gap: 10px;
  margin: 20px 0;
}

.sample-image {
  width: 100%; /* This will make each image take up the full width of its grid cell */
  max-width: 150px; /* You can adjust this value to control the maximum size of the images */
  border: 2px solid #fff;
  border-radius: 10px;
  margin: auto; /* This centers the images within their grid cells */
}

.twitch-logo {
  width: 50px; /* Adjusted width to better fit the horizontal logo */
}
